<link rel="stylesheet" type="text/css" href="public/styles/css/about.css">
<div id="aboutus" class="pages">

<div class="title">About Us<span></span></div>
<div class="abt_section">
    <div class="collage">
        <div class="item1"><img src="public/img/placeholder.jpg" alt=""></div>
        <div class="item2"><img src="public/img/placeholder.jpg" alt=""></div>
        <div class="item3"><img src="public/img/placeholder.jpg" alt=""></div>
        <div class="item4"><img src="public/img/placeholder.jpg" alt=""></div>
        <div class="item5"><img src="public/img/placeholder.jpg" alt=""></div>
        <div class="item6"><img src="public/img/placeholder.jpg" alt=""></div>
        <div class="item7"><img src="public/img/placeholder.jpg" alt=""></div>
        <div class="item8"><img src="public/img/placeholder.jpg" alt=""></div>
        <div class="item9"><img src="public/img/placeholder.jpg" alt=""></div>
        <div class="item10"><img src="public/img/placeholder.jpg" alt=""></div>
        <div class="item11"><img src="public/img/placeholder.jpg" alt=""></div>
        <div class="item12"><img src="public/img/placeholder.jpg" alt=""></div>
    </div>
    <div class="about">
        <p><span style="color:#1c89a9;font-weight:bold">InfoXpression</span> is the annual techno-cultural fest of University school of Information and Communication Technology. 
            It is the biggest technical extravaganza held at Guru Gobind Singh Indraprastha University, and involves an 
            active participation of students from over 250 colleges of north India.</p>
        <p>Being more diverse than ever, Infox '19 boasts of a plethora of events, ranging from competitive programming, 
            algorithms and application development to upcoming trends like cryptography, machine learning, computer vision 
            and cyber security. </p>
        <p>With problems being of varying difficulty levels, Infoxpression provides the perfect platform for fresh 
            enthusiasts, as well as the experienced ones, to code together and compete for ultimate glory.</p>
    </div>
</div>
</div>   