@font-face {
  font-family: "Modern Edge";
  src: url(../fonts/ModernEdge.ttf) format("truetype");
}

/* @font-face {
  font-family: "United Kingdom";
  src: url(../fonts/United\Kingdom.otf) format("opentype");
} */

#hero * {
  z-index: 3;
}
#hero {
  background: transparent !important;
  position: relative;
  height: 100vh;
}

#hero .down-arrow {
  width: 30px;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  animation: updownArrow 0.5s ease-in-out alternate infinite;
}

#hero .down-arrow > img {
  width: inherit;
}
@keyframes updownArrow {
  from {
    bottom: 5vh;
  }
  to {
    bottom: 6.5vh;
  }
}

#title {
  background-color: transparent;
  color: #555;
  font: normal 1em Arial, sans-serif;
  color: white;
  width: 50%;
  position: relative;
}

#title {
  display: flex;
  align-items: center;
  transform: translate(50%, 50%);
}

#title svg {
  width: 50vw;
}

canvas {
  display: block;
  position: absolute;
}

#smoke {
  position: absolute;
  width: 100%;
  height: 100%;
}

#logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  perspective: 40px;
  top: -12vh;
  /* margin-top: 50%; */
  /* animation: slideUp 0.8s ease-in-out 3.3s forwards; */
  /* animation: backgroundFlicker 2s ease-out forwards; */
  overflow: hidden;
}

#logo svg {
  width: 100%;
  /* left:50%;
  transform: translateX(-50%); */
}

@keyframes backgroundFlicker {
  1%,
  9.999%,
  45%,
  54.999%,
  60%,
  64.999%,
  70% {
    background: rgb(17, 0, 255);
  }
  0%,
  0.999%,
  10%,
  44.999%,
  55%,
  59.999%,
  65%,
  69.999%,
  100% {
    background: black;
  }
}

#title {
  color: white;
}

#logo-text {
  font-size: 10em;
  /* text-transform: uppercase; */
  position: relative;
  text-align: center;
  /* font-family: 'Bahnschrift Condensed'; */
  letter-spacing: 5px;
  color: black;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.125);
  font-weight: bold;
  opacity: 1;
  padding: 50px auto;
  /* animation: showLogoText 0.3s ease-in 3s; */
  animation-fill-mode: forwards;
  transition: transform 200ms;
}

.flicker-on {
  position: relative;
  animation: flickerOn 1s ease-out forwards;
  z-index: 1;
}
@keyframes flickerOn {
  20%,
  22%,
  35.999%,
  64%,
  65%,
  69.999% {
    color: white;
    text-shadow: 0 0 50px #ffffff50;
  }
  0%,
  19.999%,
  21.999%,
  36%,
  64.999%,
  70%,
  99.999% {
    color: black;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.125);
  }
  100% {
    color: white;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  }
}

.flicker-on::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50px;
  height: 50vh;
  background: rgba(17, 0, 255, 0.7);
  /* background: white; */
  /* filter: blur(100px); */
  box-shadow: 0 0 300px 100px rgb(17, 0, 255);
  animation: flickerOnShadow 1s ease-out forwards;
  z-index: -10;
}
/* @keyframes flickerOnShadow {
  20%, 35.999%, 45%, 49.999% {
    opacity: 0.4;
	}
	0%, 19.999%, 36%, 44.999%, 100% {
    opacity: 0;
  }
} */
@keyframes flickerOnShadow {
  20%,
  22%,
  35.999%,
  64%,
  65%,
  69.999% {
    opacity: 0.4;
  }
  0%,
  19.999%,
  21.999%,
  36%,
  64.999% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showLogoText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#gx {
  background-size: contain;
  padding: 10% 0;
  text-align: center;
  width: 100%;
  height: auto;
}

#gx-logo {
  position: absolute;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  left: 0;
  fill: #000000;
  stroke: #666;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: bevel;
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  animation: dash 3s ease-in 3s;
  animation-fill-mode: forwards;
  width: 100%;
  /* max-width: 600px; */
  filter: drop-shadow(0 0 20px rgba(0, 0, 255, 0.8));
  transition: transform 200ms;
}

#gx-logo polygon {
  animation: colorFill 0.8s ease-out 5.5s forwards,
    beating 1.75s ease-in 6s infinite;
  /* animation-fill-mode: forwards; */
  /* filter: drop-shadow(0px 0px 10px rgba(0, 0, 255, 1)); */
}

#eventInfo {
  color: white;
  letter-spacing: 1px;
  text-align: center;
  margin-top: -135px;
  position: relative;
  font-size: 20px;
  font-family: Arial;
  top: -6vh;
}

#eventInfo .date {
  color: #004dc6;
  font-size: 32px;
  font-family: Arial;
  font-weight: bold;
}

#eventInfo > div:nth-child(1) {
  animation-delay: 6s;
}
#eventInfo > div:nth-child(2) {
  animation-delay: 6.2s;
}
#eventInfo > div:nth-child(3) {
  animation-delay: 6.4s;
}
#eventInfo > div {
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateX(-20px);
  visibility: hidden;
  animation: slideAnimeLtoR 0.3s ease;
  animation-fill-mode: forwards;
  z-index: -1;
  -webkit-animation: slideAnimeLtoR 0.5s ease;
  -webkit-animation-fill-mode: forwards;
}
@keyframes slideAnimeLtoR {
  0% {
    visibility: hidden;
    transform: translateX(-20px);
    opacity: 0;
  }
  10% {
    visibility: visible;
    x-index: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideAnimeBtoT {
  0% {
    visibility: hidden;
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    visibility: visible;
    x-index: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes colorFill {
  from {
    fill-opacity: 0;
    fill: #ffffff;
  }
  to {
    fill-opacity: 0.4;
    fill: #0576e6;
  }
}

@keyframes beating {
  0%,
  20%,
  35%,
  60%,
  100% {
    fill-opacity: 0.4;
    transform: scale(1);
  }
  25%,
  40% {
    fill-opacity: 1;
    transform: scale(1.005);
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1800;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes slideUp {
  from {
    top: 55%;
  }
  to {
    top: 45%;
  }
}

@media only screen and (max-width: 1120px) {
  #logo-text {
    font-size: 6em;
    /* top:-20px !important; */
  }
  #gx-logo {
    width: 1200px !important;
    left: 50%;
    transform: translate(-50%) !important;
  }
}
@media screen and (max-width: 768px) {
  .flicker-on::before {
    display: none;
  }
  #logo-text {
    font-size: 4em;
    top: 20px;
  }

  #eventInfo {
    font-size: 20px !important;
    top: -100px !important;
  }
  #eventInfo .date {
    font-size: 28px !important;
  }
  #gx-logo {
    width: 800px !important;
    left: 50%;
    transform: translate(-50%) !important;
  }
}
@media screen and (max-width: 576px) {
  #eventInfo .date {
    font-size: 6vw !important;
  }
  #logo-text {
    font-size: 10vw;
  }
  #eventInfo {
    font-size: 3.5vw !important;
  }
}
